*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.container{
    width: 800px;
    max-width: 800px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    margin: 25px 0;
}
form #search{
    width: 250px;
    height: 40px;
    padding-left: 15px;
    border-radius: 20px;
    background: none;
    outline: none;
    border: 1px solid black;
    font-size: 17px;
    margin: 0 10px;
}
form button{
    border: none;
    outline: none;
    background: black;
    color: white;
    border-radius: 30px;
    padding: 13px 28px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
}
main{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px;
}
main h3, main h2 , main p{
    font-family: sans-serif;
    margin: 5px 0;
}
main a {
  color: black;
}
